*{
    margin: 0;
    padding: 0;
    /* font-family: 'NanumGothicLight';
    font-family: 'NanumGothic';
    font-family: 'NanumGothicBold';
    font-family: 'NanumGothicExtraBold'; */
}
header{
    position: fixed !important;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #78939588;
    /* opacity: 0.5; */
    /* border: 1px solid #000; */
    font-family: 'Oswald', sans-serif !important;
    z-index: 1;
}
nav{
    width: 100vw;
    height: 100%;
}
#navTitle{
    height: 100%;
    display: flex;
    align-items: center;
}
#navTitle a{
    text-decoration: none;
    color: #000;
}
#navMenu{
    text-align: right;
}
#navMenuUl{
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#navMenuUl li{
    display: inline-block;
    margin: 0vw 2vw;
}
#navMenuUl a{
    text-decoration: none;
    color: #000;
}