*{
    margin: 0;
    padding: 0;
}
/* 헤더 영역 */
html::-webkit-scrollbar{
    display: none;
}
#Background_Effect{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 1;   
}
#videoBackground{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#videoBackground video{
    width: 100%;
    height: auto;
}
#headerContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    height: 200px;
}
#headerText{
    display: none;
    color: #fff;
    font-family: 'Oswald', sans-serif !important;
}
#headerText h1{
    font-size: 5em !important;
}
#lineEffectLine{
    margin-top: 15px;
    width: 0%;
    height: 5px;
    background-color: #fff;
    display: none;
}
#lineEffectText{
    display: none;
    /* height: 20px; */
    /* opacity: 1; */
    margin-top: 15px;
    color: #fff;
    /* align-items: center; */
    opacity: 0.7;
    cursor: pointer;
}
#lineEffectText:hover{
    opacity: 1;
}
#arrowText{
    position: relative;
    bottom: 2px;
}
/* 헤더 영역 끝 */

/* 첫번째 section */

#lightSection{
    width: 100%;
    height: 100vh;
}
#lightDiv{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
}
#lightDivContainer{
    position: absolute;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 반짝이는 이펙트 시작 */

#lightDivContainer h2{
    font-family: "Arial";
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
}

#lightDivContainer span{
    display: block;
}

#lightDivContainer span:not(.light) {
    opacity: 0;
    animation: flashText 0.5s ease-out alternate infinite;
}

#lightDivContainer span.light {
    position: relative;
    display: inline-block;
}
#lightDivContainer span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash 0.5s ease-out alternate infinite;
}

@keyframes flash {
to {
    opacity: 1;
    }
}
@keyframes flashText {
to {
    opacity: 0.15;
    }
}

/* 반짝이는 이펙트 끝 */

/* 첫밴째 section 끝  */