*{
    margin: 0;
    padding: 0;
}
/* 헤더 영역 */
html::-webkit-scrollbar{
    display: none;
}
#Background_Effect{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 1;   
}
#videoBackground{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#videoBackground video{
    width: 100%;
    height: auto;
}
#headerContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    height: 200px;
}
#headerText{
    display: none;
    color: #fff;
    font-family: 'Oswald', sans-serif !important;
}
#headerText h1{
    font-size: 5em !important;
}
#lineEffectLine{
    margin-top: 15px;
    width: 0%;
    height: 5px;
    background-color: #fff;
    display: none;
}
#lineEffectText{
    display: none;
    /* height: 20px; */
    /* opacity: 1; */
    margin-top: 15px;
    color: #fff;
    /* align-items: center; */
    opacity: 0.7;
    cursor: pointer;
}
#arrowText{
    position: relative;
    bottom: 2px;
}
/* 헤더 영역 끝 */

/* 첫번째 section */

#lightSection{
    width: 100%;
    height: 100vh;
}
#lightDiv{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
}

/* 첫밴째 section 끝  */