*{
    margin: 0;
    padding: 0;
    
}

/* 헤더 영역 */
html::-webkit-scrollbar{
    display: none;
}
#Background_Effect{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: #000;
    opacity: 1;    */
}
#BackgroundImg{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background_1920px.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.7; */
    overflow: hidden;
}

#headerContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    height: 200px;
}
#headerText{
    /* display: none; */
    color: #fff;
    font-family: 'Oswald', sans-serif !important;
}
#headerText h1{
    font-size: 5em !important;
}
#lineEffectLine{
    margin-top: 15px;
    width: 20em;
    height: 5px;
    background-color: #fff;
    /* display: none; */
}
#lineEffectText{
    /* display: none; */
    /* height: 20px; */
    /* opacity: 1; */
    margin-top: 15px;
    color: #fff;
    /* align-items: center; */
    opacity: 0.7;
    cursor: pointer;
    font-family: 'Oswald', sans-serif !important;
}
#lineEffectText:hover{
    opacity: 1;
}
#arrowText{
    position: relative;
    bottom: 2px;
}

/* 네비게이션 영역 */

#navMenu{
    position: absolute;
    /* width: 100%; */
    /* border: 1px solid black; */
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

#navMenuUl{
    list-style: none;
    width: 100%;
    /* display: inline-block; */
}
#navMenuUl li{
    display: inline-block;
    /* border: 1px solid #fff; */
    color: #fff;
    margin: 1vw 2vw;
    font-family: 'Oswald', sans-serif !important;
}
#navMenuUl li h4{
    /* display: none; */
    cursor: pointer;
    /* opacity: 0.7; */
}
.navMenuText{
    opacity: 0.7;
}
.navMenuText:hover{
    opacity: 1;
}

/* 네비게이션 영역 끝 */
/* 헤더 영역 끝 */
/* PC헤더 영역 */



@media screen and (min-width:768px) and (max-width:1200px) { 



 }
@media screen and (max-width:767px) { 

    #headerContainer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        height: 200px;
        transition: all 2s;
    }

    #lineEffectLine{
        
        /* margin-top: 15px; */
        margin: 15px auto;
        height: 5px;
        text-align: center;
        background-color: #fff;
        /* transition: all 2s; */
        /* display: none; */
    }

    #navMenuUl{
        list-style: none;
        width: 100%;
        padding: 0;
        /* display: inline-block; */
    }

    #navMenu{
        position: absolute;
        /* width: 100%; */
        /* border: 1px solid black; */
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); */
    }

    #navMenuUl li{
        display: inline-block;
        /* border: 1px solid #fff; */
        color: #fff;
        margin: 2vw 3vw;
        font-family: 'Oswald', sans-serif !important;
    }

 }
