*{
    border: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'NanumGothic';
}

/* Header css 시작 */
header{
    z-index: 999;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    height: 60px;
    width: 100%;
}

/* Header 로고 타이틀 영역 시작*/
#headerLeftContents{
    width: 20%;
}

#headerLeftLogoDiv{
    height: 100%;
}

#headerLeftLogoTitle{
    margin: 0 !important;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
}
/* Header 로고 타이틀 영역 끝*/

/* Header 메뉴 타이틀 영역 시작 */

#headerRightContents{
    width: 80%;
}

/* Header 주 메뉴 영역 시작 */

#headerMenuFlexBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}



#headerMenuFlexBox p{
    margin: 0 !important;
    opacity: 0.7;
    font-weight: 600;
    cursor: pointer;
}

#headerMenuFlexBox p:hover{
    margin: 0 !important;
    opacity: 1;
    font-weight: 600;
    cursor: pointer;
}

.selectMenu{
    /* color: #000 !important; */
    opacity: 1 !important;
    position: relative;
}

#selectMenuLine{
    position: relative;
    top: 15px;
    width: 100%;
    height: 3px;
    background-color: #000;
}

/* Header 주 메뉴 영역 끝 */

/* Header 서브 메뉴 영역 */

#headerUserMenuBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

#headerUserMenuBox p{
    margin: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#headerUserMenuBox p:hover{
    margin: 0 !important;
    opacity: 1;
    font-weight: 600;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}

#headerUserMenuDiv{
    position: absolute;
    top: 60px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #9c9c9c;
    background-color: #1f2231;
    border-top: none;
    padding: 10px;
}

.headerUserMenuBorder:nth-child(1){
    border-top: none;
}
.headerUserMenuBorder{
    border-top: 1px solid #fff;
}


#headerMenuProfileP{
    color: #fff;
    margin: 0;
    padding: 0px 0px 5px 0px;
}

#headerMenuLogoutP{
    color: #fff;
    margin: 0;
    padding: 5px 0px 0px 0px;
}




/* Header 서브 메뉴 끝 */


/* Header 메뉴 타이틀 영역 끝 */


/** Mobile css 감춤 **/

#headerRightContents_M{
    display: none;
}
#sideMenu_M{
    display: block;
}

/** Mobile css 감춤 **/



/* Header css 끝 */

@media screen and (min-width:768px) and (max-width:1200px) { 

    header{
        position: relative;
    }
    #headerUserMenuBox p{
        padding-left: 5px;
        padding-right: 5px;
    }

    #headerUserMenuBox p:hover{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:767px) { 

    /* Header 주 메뉴 영역 시작 */

    header{
        position: relative;
    }

    #headerLeftLogoTitle{
        font-size: 1.25rem;
    }

    /* Header 주 메뉴 영역 끝 */


    /* Header SideMenu 시작 */
    #headerRightContents{
        display: none;
    }

    #headerRightContents_M{
        display: block;
        width: 80%;
    }

    #headerRightMenubar_M{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }
    
    #menubar_M{
        cursor: pointer;
    }
    #sideMenu_M{
        position: absolute;
        top: 60px;
        left: 0px;
        /* height: 60px; */
        width: 100%;
        border: 1px solid black;
    }

    #sideMenuHeader_M{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sideMenuHeaderContents_M{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: #1f2231!important;
        cursor: pointer;
    }

    .sideMenuHeaderContents_M p{
        padding: 10px 0px;
        margin: 0;
        font-weight: 600;
        color: #fff;
    }

    #sideMenuContents_M{
        background-color: #191b26;
        /* padding: 5px 15px; */
    }

    .sideMenuContents_M_Div{
        padding: 25px 15px;
        border-bottom: 1px solid #525252;
    }

    .sideMenuContents_M_Title{
        color: #fff;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }


    /* Header SideMenu 끝 */
}