*{
    margin: 0;
    padding: 0;
    
}

/* 헤더 영역 */
html::-webkit-scrollbar{
    display: none;
}
#Background_Effect{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: #000;
    opacity: 1;    */
}
#BackgroundImg{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background_1920px.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.7; */
    overflow: hidden;
}

#headerContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    /* height: 200px; */
}

/* 로그인 박스 영역 */
#signupDiv{
    /* border: 1px solid #fff; */
    position: relative;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Oswald','NanumGothic', sans-serif !important;
}
#signupDiv h3{
    margin-bottom: 1.5rem !important;
    color: #fff;
}
#sighupDivUl{
    width: 50%;
    margin: 0 auto !important;
    padding: 2px 0px !important;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
#sighupDivUl li{
    text-align: left;
    margin: 25px auto !important;
    width: 50%;
}
#sighupDivUl label{
    color: #fff;
    /* font-size: 1.2rem; */
}
#sighupDivUl li input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
}
/* 자동 완성 기능에 색상 변경 */
#sighupDivUl li input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
     -webkit-text-fill-color: #fff !important;
     font-family: 'Oswald', sans-serif !important;
   }
.IDInfo{
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 14px;
}
.IDInfo2{
    color: rgb(253, 15, 15);
    font-weight: bold;
    font-size: 14px;
}
.IDCss{
    display: none;
}
.passwordInfo{
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 14px;
}
.passwordInfo2{
    color: rgb(253, 15, 15);
    font-weight: bold;
    font-size: 14px;
}
.passwordCss{
    display: none;
}
#user_password_show_btn{
    cursor: pointer;
}
#signup_btn{
    border-color: #fff;
    color: #fff;
    width: 100% !important;
}
#signup_btn:hover{
    border-color: #6c757d;
}


#sighupDivUl li input::placeholder{
    color: rgba(255, 255, 255);
    font-size: 14px !important;
}

/* 네비게이션 영역 */

#navMenu{
    position: absolute;
    /* width: 100%; */
    /* border: 1px solid black; */
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

#navMenuUl{
    list-style: none;
    width: 100%;
    /* display: inline-block; */
}
#navMenuUl li{
    display: inline-block;
    /* border: 1px solid #fff; */
    color: #fff;
    margin: 1vw 2vw;
    font-family: 'Oswald', sans-serif !important;
}
#navMenuUl li h4{
    /* display: none; */
    cursor: pointer;
    /* opacity: 0.7; */
}
.navMenuText{
    opacity: 0.7;
}
.navMenuText:hover{
    opacity: 1;
}

/* 네비게이션 영역 끝 */
/* 헤더 영역 끝 */
/* PC헤더 영역 */



@media screen and (min-width:768px) and (max-width:1200px) { 

    #sighupDivUl{
        width: 70%;
    }
    #sighupDivUl li{
        width: 70%;
    }

 }
@media screen and (min-width:421px) and (max-width:767px) { 

    #headerContainer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* height: 200px; */
        transition: all 2s;
    }

    #navMenuUl{
        list-style: none;
        width: 100%;
        padding: 0;
        /* display: inline-block; */
    }

    #sighupDivUl{
        width: 70%;
    }
    #sighupDivUl li{
        width: 70%;
    }

    #navMenu{
        position: absolute;
        /* width: 100%; */
        /* border: 1px solid black; */
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); */
    }

    #navMenuUl li{
        display: inline-block;
        /* border: 1px solid #fff; */
        color: #fff;
        margin: 2vw 3vw;
        font-family: 'Oswald', sans-serif !important;
    }
    

 }

 @media screen and (max-width:420px) { 
     

    #headerContainer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* height: 200px; */
        transition: all 2s;
    }

    #sighupDivUl{
        width: 90%;
    }
    #sighupDivUl li{
        width: 90%;
    }
    #sighupDivUl li input{
        width: 100%;
    }

    #navMenuUl{
        list-style: none;
        width: 100%;
        padding: 0;
        /* display: inline-block; */
    }

    #navMenu{
        position: absolute;
        /* width: 100%; */
        /* border: 1px solid black; */
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); */
    }
    #navMenuUl li{
        display: inline-block;
        /* border: 1px solid #fff; */
        font-size: 10px;
        color: #fff;
        margin: 2vw 1.5vw;
        font-family: 'Oswald', sans-serif !important;
    }
    #navMenuUl li h4{
        /* display: none; */
        cursor: pointer;
        font-size: 18px;
        /* opacity: 0.7; */
    }
}
